{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12"> 
                <div class="card"> 
                    <div class="card-body">
                        <div class="list-product-header">
                            <div class="d-flex justify-content-between">
                                {% if user.is_superuser or user.role == 'Admin' %}
                                    <h4>Requests</h4>
                                {% elif user.is_superuser or user.role == 'Supervisor' %}
                                    <h4>Cleaning Requests</h4>
                                {% elif user.is_superuser or user.role == 'Client' %}
                                    <h4>Cleaning Requests</h4>
                                {% endif %}
                                {% if request.user.is_superuser or request.user.role in 'Admin' or request.user.role in 'Client' %}
                                    <a class="btn btn-primary" href="{% url 'base:addCleanupRequest' %}"><i class="fa fa-plus"></i>
                                        Add Request
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="list-product">
                            <table class="table" id="project-status">
                                <thead> 
                                    <tr> 
                                    <th>
                                        <div class="form-check"> 
                                            <input class="form-check-input checkbox-primary" type="checkbox">
                                        </div>
                                    </th>
                                    <th><span class="f-light f-w-600">Client</span></th>
                                    <th><span class="f-light f-w-600">Supervisor</span></th>
                                    <th><span class="f-light f-w-600">Status</span></th>
                                    {% if user.is_superuser or user.role == 'Admin' %}
                                        <th><span class="f-light f-w-600">Supervisor Report</span></th>
                                    {% endif %}
                                    <th><span class="f-light f-w-600">Completed</span></th>
                                    <th><span class="f-light f-w-600">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for request in cleanupRequests %}
                                        <tr class="product-removes">
                                            <td>
                                                <div class="form-check"> 
                                                    <input class="form-check-input checkbox-primary" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <p class="f-light">{{ request.client.name }} </p>
                                            </td>
                                            <td>
                                                <p class="f-light">
                                                    {% if request.supervisor %}
                                                        {{ request.supervisor.name }}
                                                    {% else %}
                                                        <span class="badge bg-danger">Not approved yet</span>
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td>
                                                <span class="badge {% if request.status == 'Approved' %}bg-success{% elif request.status == 'Rejected' %}bg-danger{% else %}bg-warning{% endif %}">
                                                    {{ request.get_status_display }}
                                                </span>
                                            </td>
                                            {% if user.is_superuser or user.role == 'Admin' %}
                                                    <td>
                                                        {% if request.supervisor_report %}
                                                            <a href="{{ request.supervisor_report.url }}" target="_blank" class="f-light">
                                                                <span class="badge bg-success">View Supervisor Report</span>
                                                            </a>
                                                        {% else %}
                                                            <span class="badge bg-warning">Report not submitted</span>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            <td>
                                                <p class="f-light">
                                                    {% if request.completed_at %}
                                                        <span class="badge bg-success">Completed</span>
                                                    {% else %}
                                                        <span class="badge bg-danger">Not completed yet</span>
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td>
                                                <div class="product-action">
                                                    <a href="{% url 'base:viewCleanupRequest' request.id %}" class="btn btn-primary btn-sm">
                                                        View
                                                    </a>
                                                    {% if user.is_superuser or user.role == 'Admin' %}
                                                        {% if request.completed_at %}
                                                            <span class="badge bg-success">Work Completed</span>
                                                        {% else %}
                                                            <!-- Show Approve & Assign button if completed_at is not set -->
                                                            <a href="{% url 'base:adminApproveCleanupRequest' request.id %}" class="btn btn-sm btn-dark-gradien">
                                                                <i class="fa fa-check"></i> Approve & Assign
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if user.role == 'Client' %}
                                                        {% if not request.completed_at %}
                                                            <a href="{% url 'base:markCleanupRequestComplete' request.id %}" class="btn btn-success btn-sm">
                                                                Mark as Completed
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if user == request.supervisor and request.completed_at %}
                                                        {% if request.supervisor_report %}
                                                            <span class="badge bg-success">Already submitted</span>
                                                        {% else %}
                                                            <a href="{% url 'base:submitSupervisorReport' request.id %}" class="btn btn-info btn-sm">
                                                                Send Report
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </td>
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}