{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="list-product-header">
                        <div class="d-flex justify-content-between">
                            <h4>Add New User</h4>
                            <a class="btn btn-primary" href="{% url 'base:getUsers' %}">
                                <i class="fa fa-eye"></i>
                                Go Back
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="form theme-form">
                        <form class="price-wrapper" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row g-3 custom-input mb-3">
                                <div class="col-sm-6">
                                    <label class="form-label">Name</label>
                                    {{ form.name }}
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Email</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="row g-3 custom-input mb-3">
                                <div class="col-sm-4">
                                    <label class="form-label">National ID</label>
                                    {{ form.nid }}
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">DOB</label>
                                    {{ form.dob }}
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">Profession</label>
                                    {{ form.profession }}
                                </div>
                            </div>
                            <div class="row g-3 custom-input mb-3">
                                <div class="col-sm-6">
                                    <label class="form-label">Phone Number</label>
                                    {{ form.phone_number }}
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Role</label>
                                    <div class="input-group flatpicker-calender product-date">
                                        {% if logged_in_user.role == 'Company' %}
                                            <input type="text" class="form-control" value="Cleaner" name="role" readonly>
                                        {% else %}
                                            {{ form.role }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3 custom-input mb-3">
                                <div class="col-sm-6">
                                    <label class="form-label">Password</label>
                                    {{ form.password }}
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Password Confirmation</label>
                                    {{ form.password_confirmation }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <div class="text-end">
                                        <button class="btn btn-primary me-3">
                                            Add New User
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}